.icon_amenu .x-tree-node-icon{
	background: url(../images/ctree/cog.gif) no-repeat left
		center !important;
}

.icon_cal .x-tree-node-icon{
	background: url(../images/ctree/free-icon-calendar-1258225.png) no-repeat left
		center !important;
}

.icon_commit .x-tree-node-icon{
	background: url(../images/ctree/free-icon-online-meeting-3381773.png) no-repeat left
		center !important;
}

.icon_consult .x-tree-node-icon{
	background: url(../images/ctree/free-icon-online-business-2910935.png) no-repeat left
		center !important;
}

.icon_consult .x-tree-node-icon{
	background: url(../images/ctree/free-icon-online-business-2910935.png) no-repeat left
		center !important;
}

.icon_suit .x-tree-node-icon{
	background: url(../images/ctree/free-icon-law-2667074.png) no-repeat left
		center !important;
}

.icon_bonds .x-tree-node-icon{
	background: url(../images/ctree/free-icon-bonds-2620215.png) no-repeat left
		center !important;
}

.icon_agree .x-tree-node-icon{
	background: url(../images/ctree/free-icon-convention-1395683.png) no-repeat left
		center !important;
}

.icon_market .x-tree-node-icon{
	background: url(../images/ctree/free-icon-market-research-3798964.png) no-repeat left
		center !important;
}

.icon_handshake .x-tree-node-icon{
	background: url(../images/ctree/free-icon-handshake-1006555.png) no-repeat left
		center !important;
}

.icon_presentation .x-tree-node-icon{
	background: url(../images/ctree/free-icon-presentation-1006557.png) no-repeat left
		center !important;
}

.icon_presentation .x-tree-node-icon{
	background: url(../images/ctree/free-icon-presentation-1006557.png) no-repeat left
		center !important;
}

.icon_meeting .x-tree-node-icon{
	background: url(../images/ctree/free-icon-meeting-1006542.png) no-repeat left
		center !important;
}

.icon_justice .x-tree-node-icon{
	background: url(../images/ctree/free-icon-justice-hammer-18271.png) no-repeat left
		center !important;
}

.icon_school .x-tree-node-icon{
	background: url(../images/ctree/free-icon-school-material-265703.png) no-repeat left
		center !important;
}

.icon_binder .x-tree-node-icon{
	background: url(../images/ctree/free-icon-binder-3986043.png) no-repeat left
		center !important;
}

.icon_billboard .x-tree-node-icon{
	background: url(../images/ctree/free-icon-billboard-3989651.png) no-repeat left
		center !important;
}

.icon_noticeboard .x-tree-node-icon{
	background: url(../images/ctree/free-icon-noticeboard-3233514.png) no-repeat left
		center !important;
}

/* ----------------------------------------------------------------------------------------- */

.icon_balance .x-tree-node-icon{
	background: url(../images/ctree/balance.png) no-repeat left
		center !important;
}

.icon_bluelaw .x-tree-node-icon{
	background: url(../images/ctree/bluelaw.png) no-repeat left
		center !important;
}

.icon_courthouse .x-tree-node-icon{
	background: url(../images/ctree/courthouse.png) no-repeat left
		center !important;
}

.icon_document .x-tree-node-icon{
	background: url(../images/ctree/document.png) no-repeat left
		center !important;
}

.icon_filter .x-tree-node-icon{
	background: url(../images/ctree/filter.png) no-repeat left
		center !important;
}

.icon_gavel .x-tree-node-icon{
	background: url(../images/ctree/gavel.png) no-repeat left
		center !important;
}

.icon_law .x-tree-node-icon{
	background: url(../images/ctree/law.png) no-repeat left
		center !important;
}

.icon_law-book .x-tree-node-icon{
	background: url(../images/ctree/law-book.png) no-repeat left
		center !important;
}

.icon_laws .x-tree-node-icon{
	background: url(../images/ctree/laws.png) no-repeat left
		center !important;
}

.icon_research .x-tree-node-icon{
	background: url(../images/ctree/research.png) no-repeat left
		center !important;
}

.icon_star .x-tree-node-icon{
	background: url(../images/ctree/star.png) no-repeat left
		center !important;
}

.icon_check .x-tree-node-icon{
	background: url(../images/ctree/check.png) no-repeat left
		center !important;
}

.icon_submission .x-tree-node-icon{
	background: url(../images/ctree/directory-submission-symbol.png) no-repeat left
		center !important;
}