@CHARSET "EUC-KR";

.icon_addFol {
	background: url(../../../resources/images/common/tree/tree_folder_create.gif)
		no-repeat left center !important;
}
.icon-grid {
    background-image:url( ../../../resources/images/grid.png ) !important;
}
.icon_crtNFDoc {
	background: url(../../../resources/images/common/icon_newNFDoc.gif) no-repeat left
		center !important;
}

.icon_modFol {
	background: url(../../../resources/images/common/tree/tree-folder-cur.gif)
		no-repeat left center !important;
}

.icon_delFol {
	background: url(../../../resources/images/common/icon_delFol.gif) no-repeat left
		center !important;
}

.icon_crtDoc {
	background: url(../../../resources/images/common/icon_newDoc.gif) no-repeat left
		center !important;
}

.icon_del {
	background: url(../../../resources/images/common/icon_del.gif) no-repeat left
		center !important;
}

.icon_del2 {
	background: url(../../../resources/images/common/icon_del.gif) no-repeat
		center !important; cursor:pointer;
}

.icon_modDoc {
	background: url(../../../resources/images/common/tree/tree-doc-cur.gif) no-repeat
		left center !important;
}

.icon_rev {
	background: url(../../../resources/images/common/icon_rev.gif) no-repeat left
		center !important;
}

.icon_modDocInfo {
	background: url(../../../resources/images/common/icon_modDoc.gif) no-repeat left
		center !important;
}

.icon_revCont {
	background: url(../../../resources/images/common/icon_revCont.gif) no-repeat left
		center !important;
}

.icon_canRev {
	background: url(../../../resources/images/common/icon_cancel.gif) no-repeat left
		center !important;
}

.icon_hwp {
	background: url(../../../resources/images/common/icon_hwp.gif) no-repeat left
		center !important;
}

.icon_word {
	background: url(../../../resources/images/common/icon_word.gif) no-repeat left
		center !important;
}

.icon_revRes {
	background: url(../../../resources/images/common/icon_revRes.gif) no-repeat left
		center !important;
}

.icon_link {
	background: url(../../../resources/images/common/dot_link.gif) no-repeat left
		center !important;
}

.icon_canAbol {
	background: url(../../../resources/images/common/icon_canAbol.gif) no-repeat left
		center !important;
}

.icon_memo {
	background: url(../../../resources/images/common/meno16.png) no-repeat left
		center !important;
}

.icon_file {
	background: url(../../../resources/images/common/icon_file.gif) no-repeat left
		center !important;
}

.icon_cat {
	background: url(../../../resources/images/common/tree/tree-root-menu.gif)
		no-repeat left center !important;
}

.icon_docHist {
	background: url(../../../resources/images/common/tree/tree-node-menu.gif)
		no-repeat left center !important;
}

.icon_docInfo {
	background: url(../../../resources/images/common/icon_doc0.gif)
		no-repeat left center !important;
}

.icon_doc1 {
	background: url(../../../resources/images/common/icon_doc1.gif)
		no-repeat left center !important;
}

.icon_doc3 {
	background: url(../../../resources/images/common/icon_doc3.gif)
		no-repeat left center !important;
}

.icon_info {
	background: url(../../../resources/images/common/tree/info.gif)
		no-repeat left center !important;
}

.icon_linkedit {
	background: url(../../../resources/images/common/link_edit.gif)
		no-repeat left center !important;
}

.icon_bookmark {
	background: url(../../../resources/images/ext/book_addresses.png)
		no-repeat left center !important;
}

.icon_hyunhang {
	background: url(../../../resources/images/common/icon_hyunhang.gif)
		no-repeat left center !important;
}

.icon_singu {
	background: url(../../../resources/images/common/icon_singu.gif)
		no-repeat left center !important;
}

.icon_attachFile {
	background: url(../../../resources/images/common/icon_attachFile.gif) no-repeat left
		center !important;
}

.icon_pastjomun {
	background: url(../../../resources/images/common/tree/tree-dept-open.gif)
		no-repeat left center !important;
}

.icon_contentTable {
	background: url(../../../resources/images/common/icon_contentTable.gif) no-repeat left
		center !important;
}

.icon_save {
	background: url(../../../resources/images/ext/icon_save.gif) no-repeat
		left center !important;
}

.icon_jenmun {
	background: url(../../../resources/images/ext/jenum.png) no-repeat
		left center !important;
}

.icon_excel {
	background: url(../../../resources/images/ext/excel.png) no-repeat
		left center !important;
}
.icon_cd{
	background: url(../../../resources/images/ext/cd_icon.gif) no-repeat 
		left center !important;
	cursor:pointer;
}
.icon_role{
	background: url(../../../resources/images/common/tree/tree-node-user-add.gif)
		no-repeat left center !important;
	cursor:pointer;
}
.icon_refdept {
	background: url(../../../resources/images/common/icon_refdept.gif) no-repeat left
		center !important;
}

.icon_refdoc {
	background: url(../../../resources/images/common/icon_refdoc.gif) no-repeat left
		center !important;
}

.icon_regulrev {
	background: url(../../../resources/images/common/icon_regulrev.gif) no-repeat left
		center !important;
}

.icon_noregulrev {
	background: url(../../../resources/images/common/icon_noregulrev.gif) no-repeat left
		center !important;
}

.icon_delrev {
	background: url(../../../resources/images/common/icon_delrev.gif) no-repeat left
		center !important;
}

.icon_tip {
	background: url(../../../resources/images/common/icon_tip.gif) no-repeat left
		center !important;
}

.icon_pdf{
	background: url(../../../../jsp/lkms3/images/file/PDF.GIF) no-repeat 
		center !important;
	cursor:pointer;
}

/*
	���� grid row Coloring
*/
.old-row {
	background-color: #efefef;
}

.old-row .x-grid3-cell-inner {
	color: #999;
}