@CHARSET "EUC-KR";

IMG {
	border: none;
}

.menuRoot .x-tree-node-icon {
	background-image: url(../../../resources/images/common/tree/tree-root-menu.gif)
		!important
}

.doc .x-tree-node-icon {
	background-image: url(../../../resources/images/common/tree/tree-node-menu.gif)
		!important
}

.menuLeafDis .x-tree-node-icon {
	background-image:
		url(../../../resources/images/common/tree/tree-node-menu-inactive.gif)
		!important
}

/*
 * ������
 */
.icon_addRootFol {
	background: url(../../../resources/images/common/tree/tree_folder_create.gif)
		no-repeat left center !important
}

.icon_deleteMenu {
	background: url(../../../resources/images/common/tree/tree-node-menu-inactive.gif)
		no-repeat left center !important
}

.icon_createMenu {
	background: url(../../../resources/images/common/tree/tree-add-node.gif) no-repeat
		left center !important
}

.icon_deleteFol {
	background: url(../../../resources/images/common/tree/tree-folder-inactive.gif)
		no-repeat left center !important
}

.icon_addNext {
	background: url(../../../resources/images/ext/icon_moveDown.gif) no-repeat left
		center !important
}

.icon_addPrev {
	background: url(../../../resources/images/ext/icon_moveUp.gif) no-repeat left
		center !important
}

.icon_addChild {
	background: url(../../../resources/images/ext/icon_addChild.gif) no-repeat left
		center !important
}

.icon_modStruc {
	background: url(../../../resources/images/ext/icon_cur.gif) no-repeat left center
		!important
}

.icon_delStruc {
	background: url(../../../resources/images/ext/icon_disuse.gif) no-repeat left
		center !important
}

.icon_cancelRev {
	background: url(../../../resources/images/ext/icon_undo.gif) no-repeat left center
		!important
}

.icon_curDocRev {
	background: url(../../../resources/images/ext/icon_revision.gif) no-repeat left
		center !important
}

.icon_save {
	background: url(../../../resources/images/ext/icon_save.gif) no-repeat
		left center !important;
}

/*
.folder{background-image:url(../../../../extjs/resources/images/default/tree/folder.gif) !important}
.doc{background-image:url(../../../../extjs/resources/images/default/tree/leaf.gif) !important}
*/