.countW{
    display: flex;
    gap: 40px;
}
.countC{
    flex: 1;               /* 자동 균등 너비 분배 */
    background: #fff;
    border-radius: 10px;
    height: 120px;
    padding:0 40px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.countC.type1{background:#fff url('../images/count_1.png') no-repeat 90% 50%;}
.countC.type2{background:#fff url('../images/count_2.png') no-repeat 90% 50%;}
.countC.type3{background:#fff url('../images/count_3.png') no-repeat 90% 50%;}

.countC_inner {
    display: flex;
    flex-direction: column;
}
/* .countC span{ */
.countC .tCnt{
    font-weight: 200;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 4px;
    color:#222222;
}
.countC strong{
    font-size: 16px;
    color:#666;
    font-weight: 600;
    text-align: center;
}

.noticeW {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 좌/우 양쪽 끝 정렬 */
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
}
.noticeW button{
    background: none;
    font-size: 20px;
    color:#d9d9d9;
}
.notice-text{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.notice-text h2::before{
    content: "";
    display: block;
    width:4px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    top:50%;
    margin-top:-2px;
    left:0;
    background: #0052CC;
}
.notice-text h2{
    font-weight: 600;
    color:#222;
    font-size: 18px;
    padding-left: 12px;
}
.notice-text p{
    color:#444;
    font-size: 16px;
}

.m_boardW{
    display: flex;
    gap:40px;
}
.m_boardC{
    flex: 1;               /* 자동 균등 너비 분배 */
    background: #fff;
    border-radius: 10px;
    width: 50%;
}
.m_boardC h2{
    padding: 16px 20px;
    color: #222;
    border-bottom: 1px solid #ddd;
}
.m_boardC h2 i{
    color:#3F5FCE;
    line-height: 24px;
    font-size: 24px;
}
.m_boardC h2 span{
    font-size: 18px;
    font-weight: 600;
}
.m_boardC ul{
    padding: 20px 40px;
}
.m_boardC ul li{
    font-size: 16px;
    line-height: 30px;
    position: relative;
    overflow: hidden;
}
.m_boardC ul li p::before{
    content: "";
    display: block;
    position: absolute;
    width:4px;
    height: 4px;
    background: #222;
    border-radius: 2px;
    top:12px;
    left:0;
}
.m_boardC ul li p{
    display: block;
    float: left;
    padding-left: 8px;
    color:#222;
    white-space: nowrap;       /* 줄 바꿈 안 함 */
    overflow: hidden;          /* 넘치는 텍스트 감춤 */
    text-overflow: ellipsis;   /* 말줄임표 표시 */
    display: block;            /* block 요소로 만들어야 적용됨 */
    max-width: 65%;           /* 공간 안 넘치게 제한 */
}
.m_boardC ul li span{
    float: right;
    max-width: 35%;
    color:#999;
}

.scheduleW{
    background: #fff;
    border-radius: 10px;
    display: flex;
}
.scheC{
    flex: 1;               /* 자동 균등 너비 분배 */
}
.calendar_header {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.calendar_header button{
    background: none;
    color:#CCCCCC;
    font-size: 16px;
    flex: 1;               /* 자동 균등 너비 분배 */
}
.calendar_header .month{
    color:#222;
    font-size: 21px;
    font-weight: 600;
}
.calendar_header button.prev {
  position: absolute;
  left: 1rem;
}
.calendar_header button.next {
  position: absolute;
  right: 1rem;
}
.calendarC{
    padding: 0 24px 20px 24px;
    font-size: 12px;
    text-align: center;
}
.scheC{
    border-right:1px solid #ddd;
}
.scheC.active{
    background: #F4F9FF;
}
.scheC:last-child{
    border-right: none;
}
.calendarC table tr{
    height: 28px;
    line-height: 24px;
}
.calendarC table tr th:nth-child(1) {
  color: #E52020;
}
.calendarC table tr th:nth-child(7) {
  color: #205AE5;
}
.calendarC table tr td:nth-child(1) {
  color: #E52020;
}
.calendarC table tr td:nth-child(7) {
  color: #205AE5;
}
.calendarC table span{
    border-radius: 50%;
    display: inline-block;
    background: #CEE3FF;
    width: 24px;
    height: 24px;
}

.scheT{
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding:12px 0;
}
.scheT strong{
    display: block;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    color:#222;
}
.sche_infoW{
    padding:16px;
    font-size: 14px;
    line-height: 20px;
}
/*추가 : 중간 퀵링크 삽입*/
.quick_linkW{
    display: flex;
    gap:40px;
}
.quick_linkW .ql{
    flex: 1;               /* 자동 균등 너비 분배 */
    border-radius: 10px;
    position: relative;
}
.quick_linkW .ql.type1{background:#F1838D}
.quick_linkW .ql.type2{background:#66D2A0}
.quick_linkW .ql.type3{background:#908AEB}
.quick_linkW .ql.type4{background:#EEB945}

.quick_linkW .ql a{
    position: relative;
    display: block;
    font-weight: 600;
    color:#fff;
    font-size: 20px;
    padding: 20px 40px 20px 60px;
}
.quick_linkW .ql a i{
    display: block;
    position: absolute;
    top:50%;
    margin-top:-9px;
    right:30px;
}

.quick_linkW .ql span{
    display: block;
    position: absolute;
    top:50%;
    margin-top:-18px;
    left:30px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);;
}



/* 태블릿 */
@media (max-width: 1024px) {
    .countW{
        gap: 20px;
    }
    .m_boardW{
        gap:20px;
    }
    .quick_linkW{
        gap:20px;
    }
}

/* 모바일 */
@media (max-width: 768px) {
    .countW{
        gap: 10px;
    }
    .countC{
        width: 100%;
        height: auto;
        padding:0;
        text-align: right;
    }
    .countC.type1{background:#fff url('../images/count_1.png') no-repeat 8px 8px; background-size: 44px auto;}
    .countC.type2{background:#fff url('../images/count_2.png') no-repeat 8px 8px; background-size: 44px auto;}
    .countC.type3{background:#fff url('../images/count_3.png') no-repeat 8px 8px; background-size: 44px auto;}

    .countC_inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 12px;
    }
    .countC span{
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 4px;
        color:#222222;
    }
    .countC strong{
        font-size: 16px;
        color:#666;
        font-weight: 400;
    }

    .quick_linkW {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* 요소 사이 여백 */
        justify-content: space-between;
    }
    .quick_linkW .ql a{
        font-size: 16px;
        text-align: center;
        line-height: 1.2em;
        padding: 48px 8px 8px 8px;
    }
    .quick_linkW .ql a i{
        display: none;
    }
    .quick_linkW .ql span{
        font-size: 32px;
        top:20px;
        left:50%;
        margin-left:-16px;
    }
    .m_boardW{
        display: block;
    }
    .m_boardC:not(:first-child){
        margin-top:20px;
    }
    .m_boardC h2{
        padding: 12px;
        color: #222;
        border-bottom: 1px solid #ddd;
    }
    .m_boardC ul{
        padding: 12px 20px;
    }
    .m_boardC ul li{
        font-size: 16px;
        line-height: 30px;
        position: relative;
        overflow: hidden;
    }
    .calendar_header{
        padding:12px;
    }
    .calendarC{
        padding: 0 12px 12px 12px;
    }
    .scheduleW{
        display: block;
    }
    .scheC{
        border-right:none;
        padding: 0;
        clear: both;
        overflow: hidden;
    }
    .scheT{
        float: left;
        border:none;
        padding:12px;
        width:20%;
        text-align: center;
    }
    .sche_infoW{
        width:80%;
        padding: 12px;
        float: right;
    }
    .scheC:not(:first-child){
        border-top:1px solid #eee;
    }
    #footer{
        line-height: normal;
    }
}
