<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" monitorInterval="30" strict="true">
	<properties>
		<property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %10.10t | %-20.20C:%-5.5L | %msg%n</property>
		<property name="logPath">/work/logs/law</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="FileLog" fileName="${logPath}/law.log" filePattern="${logPath}/law_%d{yyyy-MM-dd}.log" >
			<PatternLayout pattern="${pattern}" />
			<Policies >
				<TimeBasedtriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		
		<RollingFile name="FileLog_error" fileName="${logPath}/lawError.log" filePattern="${logPath}/lawError_%d{yyyy-MM-dd}.log" >
			<PatternLayout pattern="${pattern}" />
			<Policies >
				<TimeBasedtriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="org.apache.ibatis" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="log4j.logger.com.ibatis" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="log4j.logger.org.mybatis" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="org.springframework" level="INFO" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="java.sql" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="net.sf.log4jdbc" level="DEBUG" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="DEBUG" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="jdbc.sqltiming" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="DEBUG" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="jdbc.audit" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="jdbc.resultset" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="log4jdbc.debug" level="DEBUG" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="org.mybais" level="ERROR" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		<logger name="mten.*" level="INFO" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</logger>
		
		
		<root level="INFO">
			<appender-ref ref="Console" level="INFO" />
			<appender-ref ref="FileLog" level="INFO" />
			<appender-ref ref="FileLog_error" level="ERROR" />
		</root>
	</loggers>
</configuration>
