@charset "utf-8";


.selFileDiv:hover {
	cursor:pointer;
	text-decoration:underline;
}
/* Reset CSS  */
* {
	font-family:'SCoreDream', 'Malgun Gothic', 'Malgun Gothic', 'Dotum', 'Gulim', 'Arial', sans-serif;
	letter-spacing:-0.75px;
	margin:0; padding:0; border:0; outline:0; vertical-align:top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing.htc);
}

::selection {background:#0066b3;color:#fff;}
::-moz-selection {background:#0066b3;color:#fff;}
::focus{background:#000;}

html { height: 100%;overflow-y:auto;  }
body { height:100%;font-size: 12px; color:#666; background: #fff; letter-spacing:-.25; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p { margin: 0px; padding:0px; list-style:none; }
h1, h2, h3, h4, h5, h6, strong, b { font-weight:normal;}
fieldset{ border: 0px; }
a { font-style:normal; text-decoration:none; color:#555; }
legend { height: 0; left: -5000px; line-height: 0; overflow-x: hidden; overflow-y: hidden; position: absolute; visibility: hidden; width: 0; }
caption { font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0; }
button, a, button:hover, a:hover {
	cursor: pointer;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
a:focus { outline: none !important; }
button img { vertical-align: middle; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img, video { border:0; vertical-align:top; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed; word-break: break-all; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,caption { position: absolute; top: -9999px; font-size: 0; line-height: 0; }
.hide_text { position: absolute; display: inline-block; font-size: 0; height: 0; line-height: 0; visibility: hidden; width: 0; text-indent: -9999em; }
i,em,address { font-style:normal; font-weight:normal; vertical-align:middle; }
td,th {vertical-align: middle;}
input, select { font-size: 12px; position: relative; zoom: 1; }

/* ---------------------------------------------------------------------
	여백
--------------------------------------------------------------------- */
hr.margin40{
	clear: both;
	margin:40px 0 0 0;
	border:none;
}
hr.margin30{
	clear: both;
	margin:30px 0 0 0;
	border:none;
}
hr.margin20{
	clear: both;
	margin:20px 0 0 0;
	border:none;
}
hr.margin10{
	clear: both;
	margin:10px 0 0 0;
	border:none;
}
.lineH{
	clear: both;
	margin: 0;
	border:none;
	border-bottom: 1px dashed #ddd;
}
