@charset "utf-8";
/* CSS Document */
.rightA { float:right;}

#mten_button.btnStyle1 {
	display:block; float:left; margin:0 2px 5px 2px; font-size:11px; color:#fff; font-weight:600; font-family:dotum;
	padding:3px 10px; text-decoration:none; border:1px solid #a11aa8; border-radius:5px;
background: #8400a5; /* Old browsers */
background: -moz-linear-gradient(top,  #8400a5 0%, #7e3693 50%, #540047 51%, #a11aa8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8400a5), color-stop(50%,#7e3693), color-stop(51%,#540047), color-stop(100%,#a11aa8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8400a5 0%,#7e3693 50%,#540047 51%,#a11aa8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8400a5 0%,#7e3693 50%,#540047 51%,#a11aa8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8400a5 0%,#7e3693 50%,#540047 51%,#a11aa8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8400a5 0%,#7e3693 50%,#540047 51%,#a11aa8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8400a5', endColorstr='#a11aa8',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
#mten_button.btnStyle1 img { vertical-align:-10%; margin-right:2px; }
#mten_button.btnStyle2 {
	display:block; float:left; margin:0 2px 5px 2px; font-size:14px; color:#fff; font-weight:600; font-family:Malgun Gothic, dotum; 
	padding:5px 15px; text-decoration:none; border-radius:50px;
background: #6e99d3; /* Old browsers */
background: -moz-linear-gradient(top,  #6e99d3 0%, #5b0e7f 50%, #66319b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e99d3), color-stop(50%,#5b0e7f), color-stop(100%,#66319b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6e99d3 0%,#5b0e7f 50%,#66319b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6e99d3 0%,#5b0e7f 50%,#66319b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6e99d3 0%,#5b0e7f 50%,#66319b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6e99d3 0%,#5b0e7f 50%,#66319b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e99d3', endColorstr='#66319b',GradientType=0 ); /* IE6-9 */
}