@CHARSET "UTF-8";
/*
�⺻����
*/
FIELDSET {
	margin: 10px;
	padding: 10px;
	border: #CCC solid 1px;
}

#div_butHolder {
	clear: both;
	height: 24px;
	background: #efefef padding:3px;
}

#div_butHolder UL LI {
	display: inline;
	list-style-type: none;
}

#div_butHolder UL {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#div_butHolder INPUT {
	width: 100px;
	height: 22px;
	font-family: Dotum, Gulim;
	font-size: 12px;
	color: #333;
}
/*
ī�װ? / ������
*/
#fs_manageCatDoc DT {
	margin: 0px;
	padding-left: 25px;
	background: url(/lawInfoWeb/images/common/dot_popuHeader) no-repeat left
		center;
	float: left;
	clear: left;
	width: 120px;
	height: 24px;
}

#fs_manageCatDoc DD {
	margin: 0px;
	float: right;
	clear: right;
	width: 300px;
	height: 24px;
}