@import url("common.css");

@import url("layout.css");

@import url("subLayout.css");

@import url("popupLayout.css");

@import url("form.css");

@import url("table.css");

.lawlk {
	color: #0e5376;
	border-bottom: #CCC 1px dotted;
	text-decoration: none;
	font-weight: bold;
}