<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <!-- https://10.1.17.57:9500/dgist/jsp/bylaw/xsl/ -->
    <!-- http://localhost:9500/kcousult/resources/xsl/ -->
    <!--222.114.168.247 // 192.168.10.12:9500 -->
	<add key="AppName" value="자치법규관리5.0 - 고양시청" />
    <add key="SITE" value="kcousult" />
	<add key="SITEURL" value="http://localhost:9500/kcousult/" />
	<add key="REVTAGDT" value="PROMUL" />
    <add key="multipart" value="1" />
	<add key="dbms" value="CUBRID" />
	<add key="hwpstyle" value="1" />
	<add key="buchickLT" value="1" />
	<add key="newsin" value="1" />
	<add key="byuljifullname" value="1" />
	<add key="TB_LM_ALLDOWN" value="1" />
	<add key="juyobox" value="1" />
	<add key="junpdt" value="2024-12-31" />
	<add key="sinpdt" value="2024-12-31" />
	<add key="junXsl" value="1" />


    <add key="MSG" value="0" />
    <!-- WORD,HWP-->
    <add key="REPORT" value="HWP" />
    <add key="TEST" value="0" />
    <add key="MNG" value="1" />
    <add key="HISMAN" value="1" />

    <add key="LTagSQUARE" value="[" />
    <add key="RTagSQUARE" value="]" />
    <add key="LTag" value="LT" />
    <add key="RTag" value="GT" />
    <add key="JOALLREV" value="전문개정" />
    <add key="JOALLREVTAGSUM" value="0" />

	<add key="jotitle4sin" value="1" />
	<add key="newsin" value="1" />
	<add key="sinHwpSkippedJolist" value="0" />
	<add key="getQueryReqFile" value="1" />
	<add key="includeDeleteMarkByul" value="1" />
	<add key="COLORTAG" value="1" />
	<add key="colorJoTitle" value="1" />
	<add key="newHeaderfooter" value="1" />
	<add key="notshowoldbyul" value="1" />
	<add key="bigoStyle" value="1" />
	<add key="abolish" value="1" />
	<add key="includeByul4jun" value="1" />
	<add key="includeByul4sin" value="1" />
    <add key="hideSaveButton" value="0" />
    <add key="useglaw" value="1" />
	<add key="jangjeol" value="1" />
	<add key="QueryFileMultiPart" value="1" />
	<add key="utf8" value="1" />
	<add key="newrevtag" value="1" />
	<add key="contTitleLikeHigh1" value="1" />
	<add key="juyoEncoding" value="1" />
	<add key="newgae" value="1" />
    <!-- sQuery  -> select쿼리 return  -> xml -->
    <add key="getQueryReq" value="http://localhost:9500/kcousult/dll/getQueryReq.do" />
	

    <add key="getXmlstatehistoryid" value="http://localhost:9500/kcousult/dll/getXmlstatehistoryid.do" />
    <!-- rulexml 또는 simsa table에서  xml 또는 oldnew xm data read-->
    <add key="getXmlNew" value="http://localhost:9500/kcousult/dll/getXmlNew.do" />
    <!-- rulexml 또는 simsa table에서  xml 또는 oldnew xm data read-->
    <add key="getXmlNew2" value="http://localhost:9500/kcousult/dll/getXmlNew2.do" />
    <!-- rulexml 또는 simsa table에서  xml 또는 oldnew xm data read-->
    <add key="getBookStatecd" value="http://localhost:9500/kcousult/dll/getBookStatecd.do?bookid=" />
    <!-- 현재작업중인 규정이 연혁규정인지 현행규정인지 알기위해 -->
    <add key="setContxml" value="http://localhost:9500/kcousult/dll/setFileContxml.do" />
    <!-- simsaxml table update -->
    <add key="setSimsaUpdate" value="http://localhost:9500/kcousult/dll/setSimsaUpdate.do" />
    <!-- simsaxml table update (연혁데이터 수정시) -->
    <add key="getRevreason" value="http://localhost:9500/kcousult/dll/getRevreason.do?bookid=" />
    <!-- 전문다운로드 -->
    <add key="noFormFilelist" value="http://localhost:9500/kcousult/dll/noFormFilelist.do?bookid=" />
    <!-- // 북아이디와 관련된 비정형 문서 파일이름:서버파일이름:파일타입:파일CD:타이틀 -->
    <add key="ContID" value="http://localhost:9500/kcousult/dll/getCode.do?sName=contid" />
    <!-- contid 생성 -->
    <add key="FileID" value="http://localhost:9500/kcousult/dll/getCode.do" />
    <!-- fileid 생성 -->
    <add key="dllFileTxt" value="http://localhost:9500/kcousult/dll/dllFileTxt.do" />
    <!-- filetext 저장 -->

    <add key="UploadFile" value="http://localhost:9500/kcousult/dll/dllImgUpload.do" />
    <!--파일업로드 -->
    <add key="DeleteFile" value="http://localhost:9500/kcousult/dll/delByulProc.do" />
    <!--파일아이디로파일삭제 -->
    <add key="DownLoadFile" value="http://localhost:9500/kcousult/Download"/>
    <!-- bon.xsl 에서 사용 -->
    <add key="GetFile" value="http://localhost:9500/kcousult/dataFile/law/attach/" />
    <!-- 별표 파일경로 -->

    <add key="ServerFileCheck" value="http://localhost:9500/kcousult/dll/ServerFileCheck.do" />

    <add key="ServerFileExist" value="http://localhost:9500/kcousult/dll/ServerFileBeing.do" />
    <add key="ImageURL" value="http://localhost:9500/kcousult/dataFile/law/img/" />

    <add key="bon4xmlUpdate" value="http://localhost:9500/kcousult/resources/xsl/bon4xmlUpdate.xsl" />
    <!--개정창에서 편집이 되지않는 본문내용보기 / 알법보기 -->

    <add key="dllcont4Hwp" value="http://localhost:9500/kcousult/resources/xsl/dllcont4Hwp.xsl" />
	<add key="getContHtml" value="http://localhost:9500/kcousult/resources/xsl/getContHtml.xsl" />
    
	<add key="dllJunMun4Prt" value="http://localhost:9500/kcousult/resources/xsl/kcousult_dllJunMun4Prt.xsl" />
	
	<!--kepcolaw-->
    <!--개정문에서 전부개정된 조를 html 로 구하기  -->
    <add key="XslVIEW"	value="http://localhost:9500/kcousult/resources/xsl/bon.xsl" />
    <add key="bon4prtmokcha"	value="http://localhost:9500/kcousult/resources/xsl/bon4prtmokcha.xsl" />
    <!--개정창에서 편집이 되지않는 본문내용보기 / 알법보기 -->
    <add key="XslCONT" value="http://localhost:9500/kcousult/resources/xsl/dllcont.xsl" />
    <!-- 개정창에서 내용보기 -->
    <add key="dllcont4wordSingu" value="http://localhost:9500/kcousult/resources/xsl/dllcont4wordSingu.xsl" />
    <!-- 개정창에서 내용보기 -->
    <add key="XslSINGU" value="http://localhost:9500/kcousult/resources/xsl/dllPreViewSingu.xsl" />
    <!-- 개정창에서 신구조문미리보기 -->
    <add key="XslBUCHICK" value="http://localhost:9500/kcousult/resources/xsl/dllbuchick.xsl" />
    <!-- 개정창에서 부칙보기 -->
    <add key="XslSINGUTOTAL4TEXT" value="http://localhost:9500/kcousult/resources/xsl/dllSingutotal4text.xsl" />
    <!--한글용신구조문대비표(사용안함)-->

    <!--<add key="XslJUN" value="http://localhost:9500/kcousult/resources/xsl/dllJunMun.xsl" />-->
    <!--한글용 전문생성-->
    <add key="XslJUN" value="http://localhost:9500/kcousult/resources/xsl/dllJunMun.xsl" />
    <!--한글용 전문생성-->

    <!--CD용 전문생성-->
    <add key="XslJUNCD" value="http://localhost:9500/kcousult/resources/xsl/XslJUNCD.xsl" />
    <!--CD용 전문생성-->
    <add key="XslJUN4dongsi" value="http://localhost:9500/kcousult/resources/xsl/dllJunMun4dongsi.xsl" />
    <!--한글용 전문생성 같은페이지보기 -->
    <add key="dllNewJoBuchickXsl" value="http://localhost:9500/kcousult/resources/xsl/dllNewJoBuchick.xsl" />
    <!--한글용개정문에서 전부개정된 조 및 부칙내용 가져올때-->
    <add key="dllsingu4cont" value="http://localhost:9500/kcousult/resources/xsl/dllsingu4cont.xsl" />
    <!--한글용신구조문대비표에서 cont_sin,cont_gu 내용읽기-->
    <add key="dllAllRev4SinGu" value="http://localhost:9500/kcousult/resources/xsl/dllAllRev4SinGu3.xsl" />
    <!--한글용신구조문대비표에서 전부개정된 조 내용읽기-->
    <add key="dllAllRev4SinGu3Word" value="http://localhost:9500/kcousult/resources/xsl/dllAllRev4SinGu3Word.xsl" />
    <!--한글용신구조문대비표에서 전부개정된 조 내용읽기-->
    <add key="XslBYUL" value="http://localhost:9500/kcousult/resources/xsl/dllByul.xsl" />
    <!--한글용전문에서 별표파일리스트읽기-->
    <add key="dllByul4singu" value="http://localhost:9500/kcousult/resources/xsl/dllByul4singu.xsl" />
    <!--한글용신구조문에서 개정된 별표파일리스트읽기-->
    <add key="albubXml" value="http://localhost:9500/kcousult/dll/albubXml.do" />
    <!--알법을 xml형식으로 읽어옴-->

	<add key="ApprovalPath" value="c:\mten\ApprovalPath" />
    <add key="LogPath" value="c:\mten\log" />
    <add key="XmlPath" value="c:\mten\xml" />
    <add key="TmpPath" value="c:\mten\tmp" />
    <add key="HwpPath" value="c:\mten\hwp\" />
    <add key="PdfPath" value="c:\mten\pdf\" />
    <add key="FilePath" value="http://localhost:9500/kcousult/dataFile/law/attach/" />
	<add key="pdfFilePath" value="http://localhost:9500/kcousult/dataFile/law/pdf/" />
    <add key="LawEdit.xsd" value="http://localhost:9500/kcousult/resources/xsl/LawEdit.xsd" />
    <add key="GLawEdit.xsd" value="http://localhost:9500/kcousult/resources/xsl/GLawEdit.xsd" />
    <add key="Law.xsd" value="http://localhost:9500/kcousult/resources/xsl/Law.xsd" />
    <add key="GLaw.xsd" value="http://localhost:9500/kcousult/resources/xsl/GLaw.xsd" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>