<?xml version="1.0" encoding="euc-kr" ?>
<configuration>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <add key="TEST" value="1" />
    <add key="TmpPath" value="c:\mten\tmp" />
    <add key="exeDownPath" value="c:\mten\exe" />
    <add key="exeFileName" value="c:\mten\exe\LawXml.exe" />
	<add key="url" value="http://localhost:9500/kcousult/*" /> 
	<add key="trustsite" value="law.kcousult.go.kr" /> 
	<updateitem filename="LawXml.exe" value="http://localhost:9500/kcousult/resources/edit/LawXml.exe" />
	<updateitem filename="Pan.exe" value="http://localhost:9500/kcousult/resources/edit/Pan.exe" />
	<updateitem filename="AutoReport.exe" value="http://localhost:9500/kcousult/resources/edit/AutoReport.exe" />
	<updateitem filename="mtenClass.dll" value="http://localhost:9500/kcousult/resources/edit/mtenClass.dll" />
	<updateitem filename="cas.exe" value="http://localhost:9500/kcousult/resources/edit/cas.exe" />
    <updateitem filename="AxInterop.HWPCONTROLLib.dll" value="http://localhost:9500/kcousult/resources/edit/AxInterop.HWPCONTROLLib.DLL" />
    <updateitem filename="Interop.HWPCONTROLLib.dll" value="http://localhost:9500/kcousult/resources/edit/Interop.HWPCONTROLLib.DLL" />
    <updateitem filename="ProcessEnd.exe" value="http://localhost:9500/kcousult/resources/edit/ProcessEnd.exe" />
	<updateitem filename="ProcessExecute.exe" value="http://localhost:9500/kcousult/resources/edit/ProcessExecute.exe" />
    
    <updateitem filename="itextsharp.dll" value="http://localhost:9500/kcousult/resources/edit/itextsharp.dll" />
	<updateitem filename="autoNeo.pdf" value="http://localhost:9500/kcousult/resources/edit/autoNeo.pdf" />
	<updateitem filename="auto.pdf" value="http://localhost:9500/kcousult/resources/edit/auto.pdf" />
	<updateitem filename="auto2014.pdf" value="http://localhost:9500/kcousult/resources/edit/auto2014.pdf" />
 	<updateitem filename="hwpReg.exe" value="http://localhost:9500/kcousult/resources/edit/hwpReg.exe" />
	<updateitem filename="hwpReg.bat" value="http://localhost:9500/kcousult/resources/edit/hwpReg.bat" />
	<updateitem filename="hwpAuto.hwp" value="http://localhost:9500/kcousult/resources/edit/hwpAuto.hwp" /> 
  
  </appSettings>
</configuration>