#container{
    height: 100%;
}
#gnbW{
    width:12%;
    min-width: 120px;
    /*min-width: 200px;*/
    height: 100%;
    min-height: 100%;
    background:#fff;
    position: fixed;
    z-index: 9;
    
    max-width: 300px;
}
#contentW{
    height: 100%;
    min-height: 100%;
    /*margin-left:12%;*/
    margin-left:auto;
    background: #EFF0F6;
    overflow-y:auto;
    
    min-width:1500px;
}


@media (max-width: 2500px) {
	#contentW{
        margin-left:12%;
    }
}

/*태블릿용*/
@media (max-width: 1200px) {
    #gnbW{
        width:7%;
        /*min-width: 60px;*/
        min-width: 80px;
    }
    #contentW{
        margin-left:7%;
    }
}
.contentC{
    padding-top:0;
    min-width: 1000px;
    width:94%;
    margin: 80px auto 0 auto;
    max-width: 1500px;
}
/* 로고 */
.logoW{
    height: 80px;
    /*padding: 16px;*/
    padding:5px 0px 10px 10px;
    width: 100%;
    background:#fff;
    
    /*display:flex;*/
    display:block;
}
.logoW .logo{
    display: block;
    width: 80%;
    /*height: 48px;*/
    height: 60px;
    background: url('../images/logo_3.png') no-repeat 50%;
    /*background: url('../images/logo_basic.png') no-repeat 50%;*/
    background-size: 100%;
    min-width: 40px;
    /*max-width: 120px;*/
    /*margin: 0 auto;*/
    /*margin: 0 10px;*/
    margin: 0 10px;
    text-indent: -9999px;
    /*width:230px;*/
}
@media (max-width: 1200px) {
    .logoW{
        display:flex;
    }
    .logoW .logo{
        background: url('../images/logo_22.png') no-repeat 50%;
        max-width: 120px;
        height: 48px;
        background-size: 100%;
    }
}

.logoW strong{
	margin-top:4.5%;
	margin-left:8px;
    color:#00ABD4;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}


/* 로고
.logoW{
    height: 80px;
    padding: 16px;
    background: #37475c;
}
.logoW .logo{
    display: block;
    width: 80%;
    height: 48px;
    background: url('../images/logo.png') no-repeat 50%;
    background-size: 100%;
    max-width: 120px;
    margin: 0 auto;
    text-indent: -9999px;
}
*/
/*기본 검색창*/
.left_srchW{
    display: none;
    background:#6843e2;
    overflow: hidden;
    width:100%;
    height:60px;
    position: relative;
}
.left_srchW.mo{
    display: none;
}
.left_srchW input[type=text]{
    width:75%;
    float: left;
    background: none;
    height: 100%;
    font-size: 16px;
    padding-left: 20px;
    color:#fff;
}
.left_srchW input[type=text]::placeholder {
    color: #fff;
}
.left_srchW .ls_srch_btn{
    display: block;
    position: absolute;
    text-indent: -9999px;
    width:20px;
    height: 20px;
    background:url('../images/icon_srch.png') no-repeat 50%;
    right:20px;
    top:50%;
    margin-top:-10px;
}

/*메뉴*/
.gnbC{
    clear: both;
}
.gnbC.mo{
    display: none;
}
.gnb li{
    position: relative;
}
.gnb li a{
    color: #333;
    font-weight: 500;
    font-size: 18px;
    display: block;
    height:55px;
    line-height: 55px;
    padding-left: 20px;
    /*border-radius: 0 30px 30px 0;*/
    margin: 10px;
    margin-left: 0;
    margin-right: 2px;
}
.gnb li a:hover{
    background: #c5a8f7;
    color:#fff;
}
.gnb li a.hoverEffect{
    background: #c5a8f7;
    color:#fff;
}
.gnb li a i{
    display: inline-block;
    font-size: 16px;
	width:20px;
	height:20px;
	text-align:center;
	margin-right:5px;
	color:#6843e2;
}
.gnb li a:hover i{
    color:#fff;
}
.gnb li a.hoverEffect i{
    color:#fff;
}
/* 상단*/
.topW{
    /* min-width: 1200px; */
    min-width: 1500px;
    
    height:80px;
    background:#EFF0F6;
    width:100%;
    padding: 0 40px;
    position: fixed;
    padding-left: 220px;
    top:0;
    left:0;
    z-index: 1;
}
.topW h2{
    text-indent: -9999px;
    width:193px;
    height: 20px;
    display: block;
    background: url('../images/title.png') no-repeat;
    float: left;
    margin-top: 30px;
}
@media (max-width: 1200px) {
    .topW{
        /*min-width: auto;*/
        min-width: 800px;
        padding-left: 80px;
    }
    
    .topC {
        display:flex;
    }
    
    .contentC{
        /*min-width: auto;*/
        min-width: 800px;
    }
    .gnb li a{
        padding: 0;
        margin: 0 5px;
        min-height: 60px;
    }
    .gnb li a span{
        font-size: 0;
    }
    .gnb li a i{
        text-align: center;
        display: block;
        min-width: 60px;
        line-height: 60px;
        font-size: 20px;
        margin: 0;
    }
    .topW .topC .topA{display: none;}
    .topW .topC .topA.edit{display: block;}
    .topW .topC .topA.searchW{display: block;}
}
/**/
.topW .topC{
    float: right;
    margin-top:15px;
}
.topW .topC .topA{
    float: left;
    overflow: hidden;
    padding-left: 25px;
}
.topW .topC .topA.searchW{
    overflow: hidden;
    border:2px solid #6843e2;
    border-radius: 10px;
    padding: 0 20px;
    position: relative;
    min-width: 450px;
    background: #fff;
}
.topW .topC .topA.searchW input[type=text]{
    height: 46px;
    line-height: 46px;
    width:80%;
    font-size: 16px;
    background: none;
}
.topW .topC .topA.searchW .top_srchBtn{
    display: block;
    color:#6843e2;
    font-size: 20px;
    position: absolute;
    top:0;
    right:20px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
}
.topW .topC .topA.searchW .top_srchBtn p{
    text-indent: -9999px;
}
.topW .topC .topA .iconT{
    width:50px;
    height: 50px;
    background:#fff;
    color:#fff;
    display: inline-block;
    margin-right: 5px;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}
.topW .topC .topA .iconT i{
    display: inline-block;
}
.topW .topC .topA p{
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
}
.topW .topC .topA .iconT.date{background: url('../images/icon_cal.png') no-repeat;}
.topW .topC .topA .iconT.user{background: url('../images/icon_user.png') no-repeat;}

.btn_edit{
    width:50px;
    height: 50px;
    background:#379FFF;
    color:#fff;
    display: inline-block;
    margin-right: 5px;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    background: url(../images/icon_edit.png) no-repeat;
}

.srchW{
    margin-top: 20px;
}
.srchC{
    float: left;
    border:2px solid #57b9ba;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    padding:0 20px;
}
.srchC input[type=text]{
    height:36px;
    line-height: 36px;
    min-width: 240px;
}
.srchC input[type=text]::placeholder {
    color: #aaa;
}
.srchC .srchBtn{
    width:21px;
    height: 20px;
    display: block;
    float: right;
    background: url('../images/srch_btn.png') no-repeat;
    text-indent: -9999px;
    margin-top: 7px;
}
.topBtnW{
    float: right;
    font-size: 0;
    line-height: 0;
}
.topBtnW .topBtn{
    display: inline-block;
    height:40px;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
    font-size: 15px;
    padding: 0 20px 0 45px;
    line-height: 40px;
    margin-left: 7px;
}
.topBtnW .topBtn.download{
    background: #57b9ba url('../images/icon_download.png') no-repeat 20px 10px;
}
.topBtnW .topBtn.admin{
    background: #37475c url('../images/icon_admin.png') no-repeat 20px 10px;
}
/* 하단 */
#footer{
    text-align: center;
    font-size: 13px;
    color:#888;
    /* padding: 30px 0 40px 0; */
    padding: 30px 0 36px 0;
}
#footer.sub{
    margin-left: 150px;
}
