.popW{
    min-width: 600px;
    /*background: #F2EBFF;*/
    overflow-y: auto;
}
.popTT{
    display: block;
    background: #3f5fce;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 60px 15px 20px;
    position: relative;
}
.popClose{
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/btn_close.png') no-repeat 0 0;
    text-indent: -9999px;
    position: absolute;
    top:15px;
    right:20px;
}
.popC{
    padding: 20px;
}
.popC.left{
    float: left;
    width: 50%;
    padding:20px 10px 20px 20px;
}
.popC.right{
    float: right;
    width: 50%;
    padding:20px 20px 20px 10px;
}
.popA{
    max-height: 600px;
    overflow-y: auto;
}
.popSTT{
    display: block;
    font-size: 17px;
    font-weight: bold;
    color:#222;
    position: relative;
    padding: 0 0 0 12px;
    margin-bottom: 15px;
}
.popSTT::before{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background: #57b9ba;
    position: absolute;
    top:10px;
    left: 0;
}
.popSrchW{
    background: #fff;
    position: relative;
    border:2px solid #3f5fce;
    min-height: 40px;
    line-height: 36px;
    border-radius: 20px;
    padding:0 20px;
    margin-bottom: 20px;
}
.popSrchW select{
    margin-top:-4px;
}
.popSrchW input[type=text]{
    width: 70%;
    height: 36px;
    line-height: 36px;
    margin-top:-4px;
}
.popSrchW input[type=checkbox]{
    margin-top:-2px;
}
.popSrchW label{
    margin-right:5px;
}
.popSrch_btn{
    width:21px;
    height: 20px;
    display: block;
    float: right;
    background: url('../images/srch_btn.png') no-repeat;
    text-indent: -9999px;
    margin-top: 7px;
}
