.categoryW{
    position: absolute;
    left:0;
    background: #fff;
    border-radius: 0 10px 10px 0;
    padding:12px 12px 0 0;
    z-index: 1;
}
.categoryW.pc{
    display: block;
    width: 20%;
}
.categoryW.mobile{
    display: none;
    width:auto;
    font-size: 20px;
    padding: 12px;
    color:#000;
}
.cateCloseW{
    display: none;
}
.setW h2{
    font-size: 16px;
    background:#3F5FCE;
    border-radius: 0 8px 8px 0;
    color:#fff;
    padding:8px 16px;
    font-weight: 600;
}
.setW .listSW{
    padding:8px 20px;
}
.setW .cateW{
    padding: 8px 0;
}
.setW .cateW .depth_1{
    background: #f2f2f2;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    border:1px solid #eee;
    border-left: none;
    border-bottom:none;
}
.setW .cateW .depth_1 li{
    position: relative;
}
.setW .cateW .depth_1 li a{
    font-size: 16px;
    color:#000;
    font-weight: 600;
    display: block;
    padding:8px 8px 8px 16px;
    border-bottom: 1px solid #ddd;
}
.setW .cateW .depth_1 li a i{
    display: inline-block;
    margin-right:4px;
    margin-bottom: 5px;
}
.setW .cateW .depth_2{
    background: #fff;
}
.setW .cateW .depth_2 li{
    position: relative;
    border-left:4px solid #3F5FCE;
}
.setW .cateW .depth_2 li a{
    font-size: 14px;
    padding-left:8px;
    color:#222;
    font-weight: 500;
    padding:8px 8px 8px 32px;
}
.setW .cateW .depth_3 li{
    border-left: none;
}
.setW .cateW .depth_3 li a{
    font-size: 12px;
    color:#666;
    font-weight: 400;
    padding:8px 8px 8px 40px;
    border-bottom: 1px solid #eee;
}
.setW .cateW .depth_3 li::before{
    content: "";
    display: block;
    background: #3F5FCE;
    width:4px;
    height: 2px;
    top:15px;
    left:32px;
    position: absolute;
}
.cate_arrowW{
    position: absolute;
    font-size: 12px;
    color:#999;
    width:12px;
    height: 12px;
    top:10px;
    right:8px;
}

.setW h2.type1{ background: #E43962; }
.setW h2.type2{ background: #41B46F; }
.setW h2.type3{ background: #2493D0; }

.contC{
    background: #fff;
    margin-left:11%;
    margin-right:40px;
    border-radius: 10px;
}
.contC.compact{
    margin-left:21%;
    margin-right:20px;
}
.titleW{
    padding:20px 24px;
    border-bottom: 6px solid #f0f0f0;
}
.titleW h2{
    font-size: 28px;
    color:#222;
    font-weight: 600;
}

.listSW dl {
    overflow: hidden;
    color:#222;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}
.listSW dl dt{
    float: left;
    font-weight: 400;
}
.listSW dl dd{
    float: right;
    text-align: right;
    font-weight: 600;
}
/*추가 : 하단 외부링크 삽입*/
.ext_linkS{
    margin-top:20px;
    margin-left:11%;
    margin-right:40px;
}
.ext_linkS.compact{
    margin-left:21%;
    margin-right:20px;
}

/* 모바일 */
@media (max-width: 768px) {
    .categoryW.pc{
        display: none;
        width: 100%;
        border-radius: 0;
        position: absolute;
        top:0;
        left:0;
    }
    .categoryW.mobile{
        display: block;
        width:auto;
        position: fixed;
        border-radius: 90px;
        width:60px;
        height: 60px;
        text-align: center;
        font-size: 28px;
        line-height: 32px;
        bottom:60px;
        left:auto;
        right:20px;
        background:#3F5FCE;
        color:#fff;
    }
    .ext_linkS{
        margin-left:0;
        margin-right:0;
    }
    .contC.compact{
        margin-left:0;
        margin-right:0;
    }
    .ext_linkS.compact{
        margin-left:0;
        margin-right:0;
    }
    .cateCloseW{
        display: block;
        color:#999;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        border-radius: 20px;
        line-height: 36px;
        height: 40px;
        width: 40px;
        border:1px solid #ddd;
        margin-bottom: 20px;
    }
}
