@CHARSET "EUC-KR";

IMG {
	border: none;
}

.icon_save {
	background: url(../../../resources/images/ext/icon_save.gif) no-repeat left
		center !important
}

.icon_del {
	background: url(../../../resources/images/ext/icon_disuse.gif) no-repeat left
		center !important
}

.icon_cancel {
	background: url(../../../resources/images/ext/icon_revision.gif) no-repeat left
		center !important
}

.icon_reguSch {
	background: url(../../../resources/images/ext/icon_reguSch.gif) no-repeat
		left center !important;
}

