@CHARSET "UTF-8";
th, td{
	padding : 2px;
}
input,select{
	height:20px;
	border: 1px solid #999; 
	border-radius: 0; /* iSO 둥근모서리 제거 */ 
	outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
	-moz-appearance: none; 
	appearance: none;
}
* {
	font-family: Dotum, Gulim;
	font-size: 12px;
	background-color : white;
}
FIELDSET {
	margin: 10px;
	padding: 10px;
	border: #CCC solid 1px;
}

#div_butHolder {
	clear: both;
	height: 24px;
	background: #efefef padding:3px;
}

#div_butHolder UL LI {
	display: inline;
	list-style-type: none;
}

#div_butHolder UL {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#div_butHolder INPUT {
	width: 100px;
	height: 22px;
	font-family: Dotum, Gulim;
	font-size: 12px;
	color: #333;
}
#popup_main {
	margin: 0px auto;
	color: #333;
	border: 1px solid gray;
	line-height: 130%;
}


