@CHARSET "EUC-KR";

.bylaw {
	background-image: url(../../images/ext/icon_bylaw.gif) !important;
}

.enact {
	background-image: url(../../images/ext/icon_enact.gif) !important;
}

.revision {
	background-image: url(../../images/ext/icon_revision.gif) !important;
}

.disuse {
	background-image: url(../../images/ext/icon_disuse.gif) !important;
}

.byprogress {
	background-image: url(../../images/ext/icon_byprogress.gif)
		!important;
}

.icon_undo {
	background-image: url(../../images/ext/icon_undo.gif)
		!important;
}

.disuseDoc {
	background-image: url(../../images/ext/icon_disuseDoc.gif) !important;
}

.cur {
	background-image: url(../../images/ext/icon_cur.gif) !important;
}

.manageMenu {
	background-image: url(../../images/ext/icon_manMenu.gif) !important;
}

.manageUser {
	background-image: url(../../images/ext/icon_manUser.gif) !important;
}

.manageCode {
	background-image: url(../../images/ext/icon_manCode.gif) !important;
}

.dan3View {
	background-image: url(../../images/ext/icon_3dan.gif) !important;
}

.nextStep {
	background-image: url(../../images/common/icon_next.gif) !important;
}

.pnextStep {
	background-image: url(../../images/common/icon_ok.gif) !important;
}

.nuFile .x-tree-node-icon {
	background-image: url(../../images/common/tree/tree-doc-inactive.gif)
		!important
}

.nuFolder .x-tree-node-icon {
	background-image:
		url(../../images/common/tree/tree-folder-inactive.gif) !important;
}

/*color of the selected node*/       
.x-tree-selected a span{            
	font-weight:bold; 
}   

.fileIng a span{
	color: red;
}

          
.icon_addFol {
	background: url(../../images/common/tree/tree_folder_create.gif)
		no-repeat left center !important;
}

.icon_crtNFDoc {
	background: url(../../images/common/icon_newNFDoc.gif) no-repeat left
		center !important;
}

.icon_modFol {
	background: url(../../images/common/tree/tree-folder-cur.gif)
		no-repeat left center !important;
}

.icon_delFol {
	background: url(../../images/common/icon_delFol.gif) no-repeat left
		center !important;
}

.icon_crtDoc {
	background: url(../../images/common/icon_newDoc.gif) no-repeat left
		center !important;
}

.icon_del {
	background: url(../../images/common/icon_del.gif) no-repeat left
		center !important;
}

.icon_modDoc {
	background: url(../../images/common/tree/tree-doc-cur.gif) no-repeat
		left center !important;
}

.icon_rev {
	background: url(../../images/common/icon_rev.gif) no-repeat left
		center !important;
}

.icon_modDocInfo {
	background: url(../../images/common/icon_modDoc.gif) no-repeat left
		center !important;
}

.icon_revCont {
	background: url(../../images/common/icon_revCont.gif) no-repeat left
		center !important;
}

.icon_canRev {
	background: url(../../images/common/icon_cancel.gif) no-repeat left
		center !important;
}

.icon_hwp {
	background: url(../../images/common/icon_hwp.gif) no-repeat left
		center !important;
}

.icon_word {
	background: url(../../images/common/icon_word.gif) no-repeat left
		center !important;
}

.icon_revRes {
	background: url(../../images/common/icon_revRes.gif) no-repeat left
		center !important;
}

.icon_link {
	background: url(../../images/common/dot_link.gif) no-repeat left
		center !important;
}

.icon_canAbol {
	background: url(../../images/common/icon_canAbol.gif) no-repeat left
		center !important;
}

.icon_file {
	background: url(../../images/common/icon_file.gif) no-repeat left
		center !important;
}

.icon_file {
	background: url(../../images/common/icon_file.gif) no-repeat left
		center !important;
}

.icon_cat {
	background: url(../../images/common/tree/tree-root-menu.gif)
		no-repeat left center !important;
}

.icon_docHist {
	background: url(../../images/common/tree/tree-node-menu.gif)
		no-repeat left center !important;
}

.icon_abol {
	background: url(../../images/common/icon_abol.gif) no-repeat left
		center !important;
}

.icon_curr {
	background: url(../../images/common/icon_curr.gif) no-repeat left
		center !important;
}

.icon_cdmk {
	background: url(../../images/ext/cd_icon.gif) no-repeat left center
		!important;
}

.icon_mnPop {
	background: url(../../images/ext/columns.gif) no-repeat left center
		!important;
}

.icon_ca {
	background: url(../../images/ext/ca.gif) no-repeat left center
		!important;
}

.icon_mnoldlaw {
	background: url(../../images/ext/book_addresses.png) no-repeat left
		center !important;
}

.icon_standard {
	background: url(../../images/ext/book.png) no-repeat left center
		!important;
}

.mtenlawTitle {
	margin: 0px;
	padding: 0px;
	font-family: Dotum, Gulim;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	width: 100%;
	background: url(../../images/ext/bg_logo2.gif);
}

.buttBasic {
	font-family: Dotum, Gulim;
	font-size: 12px;
	font-weight: bold;
	color: #003b59;
}

.docView {
	background-image: url(../../images/ext/icon_manMenu.gif) !important;
}

.icon_reguSch {
	background: url(../../images/ext/icon_reguSch.gif) no-repeat
		left center !important;
}

.icon_tip {
	background: url(../../images/common/icon_tip.gif)
		no-repeat left center !important;
}

.icon_regmod {
	background: url(../../images/common/icon_regmod.gif) no-repeat left center
		!important;
}

.icon_examdept {
	background: url(../../images/common/icon_examdept.gif) no-repeat left center
		!important;
}

.icon_hyunhang {
	background: url(../../images/common/icon_hyunhang.gif)
		no-repeat left center !important;
}

.icon_singu {
	background: url(../../images/common/icon_singu.gif)
		no-repeat left center !important;
}

.icon_ok {
	background: url(../../images/common/icon_ok.gif)
		no-repeat left center !important;
}

.icon_approve {
	background: url(../../images/ext/drop-yes.gif) no-repeat left center
		!important;
}
/*------------------------------------------------------------------------------------------
	ADMIN
------------------------------------------------------------------------------------------*/
.admin_css {
	margin: 0;
	padding: 0;
	font-family: Dotum, Gulim;
	font-size: 75%;
	color: #555;
	background: url(../../images/background/admin_bg2.gif) repeat-x top;
	background-color : #dfe8f6;
}

.admin_css .top {
	background: url(../../images/background/admin_bg.gif) no-repeat top right;
}

.admin_css .top th {
	text-align: left;
}

.admin_css .top td {
	width: 350px;
	text-align: center;
	padding: 6px;
	padding-bottom: 10px;
}

.admin_css .top td ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.admin_css .top td ul li {
	display: inline;
	padding-right: 3px;
}

.orderView { margin:0; padding:0; list-style:none; }
.orderView li { float:left; background:url(../../images/progress/icon_arrow.png) no-repeat right 50%; font-size:14px; padding:10px 25px 10px 10px; font-weight:600; color:#666;}
.orderView li.on {color:red; font-weight:bold; font-size:15px;background:#aeeff7;}
.orderView li.end { float:left; font-size:12px;  background; padding:10px 25px 10px 10px; font-weight:600; color:#666;}