@CHARSET "EUC-KR";

IMG {
	border: none;
}

.admin .x-tree-node-icon {
	background-image: url(../../../resources/images/common/tree/tree-node-admin.gif)
		!important
}

.user .x-tree-node-icon {
	background-image: url(../../../resources/images/common/tree/tree-node-user.gif)
		!important
}

.dept .x-tree-node-icon {
	background-image: url(../../../resources/images/common/tree/tree-dept-close.gif)
		!important
}

.deptOpen .x-tree-node-icon {
	background-image: url(../../../resources/images/common/tree/tree-dept-open.gif)
		!important
}

.deptRoot .x-tree-node-icon {
	background-image: url(../../../resources/images/common/tree/tree-root-user.gif)
		!important
}

/*
 * ������
 */
.icon_addNext {
	background: url(../../../resources/images/ext/icon_moveDown.gif) no-repeat left
		center !important
}

.icon_addPrev {
	background: url(../../../resources/images/ext/icon_moveUp.gif) no-repeat left
		center !important
}

.icon_addChild {
	background: url(../../../resources/images/ext/icon_addChild.gif) no-repeat left
		center !important
}

.icon_modStruc {
	background: url(../../../resources/images/ext/icon_cur.gif) no-repeat left center
		!important
}

.icon_delStruc {
	background: url(../../../resources/images/ext/icon_disuse.gif) no-repeat left
		center !important
}

.icon_cancelRev {
	background: url(../../../resources/images/ext/icon_undo.gif) no-repeat left center
		!important
}

.icon_curDocRev {
	background: url(../../../resources/images/ext/icon_revision.gif) no-repeat left
		center !important
}
/*
	contextmenu icon
*/
.icon_updateUser {
	background: url(../../../resources/images/common/tree/tree-node-user-mod.gif)
		no-repeat left center !important
}

.icon_delUser {
	background: url(../../../resources/images/common/tree/tree-node-user-del.gif)
		no-repeat left center !important
}

.icon_createUser {
	background: url(../../../resources/images/common/tree/tree-node-user-add.gif)
		no-repeat left center !important
}

.icon_deleteDept {
	background: url(../../../resources/images/common/tree/tree-dept-remove.gif)
		no-repeat left center !important
}

.icon_addDept {
	background: url(../../../resources/images/common/tree/tree-dept-add.gif) no-repeat
		left center !important
}

.icon_addDept {
	background: url(../../../resources/images/common/tree/tree-dept-add.gif) no-repeat
		left center !important
}

.icon_infoUser {
	background: url(../../../resources/images/common/tree/tree-node-user.gif)
		no-repeat left center !important
}

.icon_creuser {
	background: url(../../../resources/images/common/icon_creuser.gif)
		no-repeat left center !important
}

.icon_perlist {
	background: url(../../../resources/images/common/icon_perlist.gif)
		no-repeat left center !important
}

.icon_save {
	background: url(../../../resources/images/ext/icon_save.gif) no-repeat
		left center !important;
}

/*
.folder{background-image:url(../../../resources/extjs/resources/images/default/tree/folder.gif) !important}
.doc{background-image:url(../../../resources/extjs/resources/images/default/tree/leaf.gif) !important}
*/